
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    margin: 50px 50px 40px 40px;
}

.container {
    display: grid;
    grid-template-columns: 2fr 1fr 1fr;
    grid-template-rows: auto auto auto auto auto auto;
    width: 100%;
    max-width: 1200px;
    margin: 0 auto ;
}

.banner {
    grid-column: 1 / 4;
    grid-row: 1 / 2;
    height: 120px;
    overflow: hidden;
    
}

.banner img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.hang2 {
    grid-column: 1 / 4;
    grid-row: 2 / 3;
    background-color: #003366;
    height: 40px;
    margin-top: 5px;
}

.left-column {
    grid-column: 1 / 2;
    grid-row: 3 / 4;
    background-color: #99ccff;
    height: 180px;
}

.middle-column {
    grid-column: 2 / 3;
    grid-row: 3 / 4;
    background-color: #cccccc;
    height: 180px;
    margin-left: 5px;
}

.right-column {
    grid-column: 3 / 4;
    grid-row: 3 / 4;
    background-color: #b5c689;
    height: 180px;
    margin-left: 5px;
}

.hang4 {
    grid-column: 1 / 4;
    grid-row: 4 / 5;
    background-color: #5dc1b9;
    height: 60px;
}
.main-content1 {
    grid-column: 1 / 3;
    grid-row: 5 / 6;
    background-color: #669999;
    height: 150px;
}
.main-content2 {
    grid-column: 1 / 3;
    grid-row: 6 / 7;
    background-color: #669999;
    height: 300px;
    margin-top: 2px;
}

.sidebar1 {
    grid-column: 3 / 4;
    grid-row: 5 / 6;
    background-color: #336699; 
    height: 150px;
    
}
.sidebar2 {
    grid-column: 3 / 4;
    grid-row: 6 / 7;
    background-color: #336699;
    height: 300px;
    margin-top: 2px;
}

.footer {
    grid-column: 1 / 4;
    grid-row: 7 / 8;
    background-color: #003366;
    color: #ffff00;
    text-align: center;
    padding: 20px 0;
    height: 160px;
}

.footer p {
    margin: 20px 0;
}
        